@font-face {
    font-family:'Open Sans';
    src: URL('./assets/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@media only screen and (min-width: 800px) {
    body {
        margin: 0;
        background-color: black;
    }
}

html {
    background-color: black;
    background-image: url("./assets/images/Scan-grouped2\ \(Custom\).png");
    background-size: 1000px;
}

body {
    margin: 20px 10vw;
    border: black solid 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255,255,255,0.9);
}

header {
    padding-top: 10px;
}

footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, li { 
    padding-left: 0; 
    text-align:center; 
    list-style-type:none; 
}

li {
    font-size: 16px;
}

header > h1, #art > h1, #engine-repair > h1, #contact > h1, #donate-title > h1,
#development-title > h1, .contact-title {
    text-decoration: underline;
}

#art, #development, #engine-repair {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#development-title > img {
    height: 50px;
}

header, #donate-title, #development-title, .donate-button, .contact-title, #etsy-link, #instagram-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img, #donate-title > img, #development-title > img, .donate-button > img, .contact-title > img {
    padding: 0 10p;
}

#donate-title {
    padding: 20px 0;
}

#donate-title > img {
    height: 40px;
}

#etsy-link > img, #instagram-link > img {
    height: 20px;
}

#title > h3 {
    height: 8px;
}

.contact-submit-button {
    border: 3px solid black;
}

.flame {
    position: absolute;
}

.image-container {
    max-width: 700px;
}

.image-with-flame {
    display: inline-block;
}

.synx-logo {
    height: 50px;
    padding: 0 10px;
}