@font-face {
    font-family:'Open Sans';
    src: URL('./assets/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

html {
    background-color: whitesmoke;
}

header {
    font-family: 'Open Sans', sans-serif;
}