a {
    color: red;
    max-width: fit-content;
}

a:hover {
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 800px;
    justify-content: center;
}

footer {
    display: inline;
    text-align: center;
}

footer > h5 {
    margin: 5px;
    color: grey;
}

h3 {
    margin: 10px 0px;
}

h1, h5 {
    margin: 0px;
}

html {
    display: flex;
    justify-content: center;
}

hr {
    border: 0;
    height: 1px;
    margin: 10px 0px;
    color: grey;
    background-color: grey;
}

strong {
    font-size: larger;
    padding-bottom: 5px;
}

.collage-photos {
    max-width: 95vw;
    padding: 2px;
    border: 2px solid black;
    margin-bottom: 5px;
    transition: transform 0.25s ease;
}

#scaler:hover {
    -webkit-transform: scale(1.5);
    transform:scale(1.5);
}

.collage-photo-titles {
    padding: 20px 0 0 0;
}

.collage-sources {
    color: grey;
}

/* Icons beside the links at the top of the website */
.link-icons {
    max-height: 15px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links > a {
    margin: 2px 0px;
}

.logo-image {
    max-width: 200px;
}

.sub-title {
    color: grey;
}

.title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap-reverse;
    align-items: end;
}