* {
    color: #ff7420;
}

@font-face {
    font-family: 'varelaRound-Regular';
    src: url('./assets/fonts/VarelaRound-Regular.ttf') format('ttf');
}

html {
    background-color: #0f0600;
}

body {
    margin: 20px 10vw;
    padding: 0 20px;
    text-align: center;
    font-family: 'varelaRound-Regular', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 450px;
    border-bottom: 1px black solid;
    margin: auto;
}

nav > a {
    text-decoration: underline;
    color: white;
}

nav > a:hover {
    color: grey;
}

ul, li { 
    padding-left: 0; 
    text-align:center; 
    list-style-type:none; 
}

#art, #development, #engine-repair, .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#branding-main-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: inherit;
}

#branding-main-container > img {
    max-height: 60vw;
    max-width: 60vw;
}

#bustlol {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cat-stretch {
    display: flex;
    align-items: flex-end;
}

#cat-stretch > img {
    margin-right: 10px;
}

#development-title > img {
    height: 50px;
}

header, #paypal-donate, #development-title, .donate-button, .contact-title, #etsy-link, 
#instagram-link, #twitter-link, #facebook-link, #telegram-link, #discord-link, #patreon-link, #ebay-link, #mail-click {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img, #paypal-donate > img, #development-title > img, .donate-button > img, .contact-title > img {
    padding: 0 10p;
}

#donate {
    max-width: 777px;
}

#drawings > img {
    height: 50vw;
    max-width: 700px;
    max-height: 700px;
}

#gifs-without-bg, #gifs-with-bg {
    padding: 20px;
}

#gifs-without-bg > img, #gifs-with-bg > img {
    max-height: 80px;
}

#paypal-donate > img {
    height: 40px;
}

#etsy-link > img, #instagram-link > img, #twitter-link > img, #facebook-link > img, 
#discord-link > img, #telegram-link > img, #patreon-link > img, .furry-zone > img, #ebay-link > img, #mail-click > img {
    height: 20px;
}

#mail-click > h3 > a {
    color: white;
}

#mail-click > h3 > a:hover {
    color: grey;
}

#minecraft-disclaimer {
    padding: 10px;
}

#social-media {
    display: flex;
    padding-bottom: 15px;
}

#social-media-disclaimer {
    /* background-color: antiquewhite; */
    border: 3px solid;
    border-radius: 30px;
    width: 150px;
    margin: 0 20px;
}

#social-media-disclaimer > h5{
    padding: 0 5px;
}

#social-media-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#social-media-links > div > a {
    color: white;
}

#social-media-links > div > a:hover {
    color: grey;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title > h1 {
    color: white;
}

.commission-link {
    padding: 20px;
}

.commission-link:hover {
    background-color: grey;
}

.commission-link-container {
    display: flex;
    flex-direction: row;
}

.contact-submit-button {
    border: 3px solid black;
}

.contact-title {
    padding-bottom: 20px;
}

.discord-iframe, #minecraft-disclaimer {
    background-color: #4d2309;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(255,116,32,0.29); 
    box-shadow: 0px 0px 11px 4px rgba(255,116,32,0.29);
    margin: 25px;
}

.flame {
    position: absolute;
}

.furry-zone {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.image-container {
    max-width: 700px;
    margin: auto;
}

.image-with-flame {
    display: inline-block;
}

.line-break {
    height: 3px;
    background-color: black;
}

.monero-icon, .cashapp-icon {
    height: 25px;
}

.monero-string {
    word-break: break-all;
}

.new-shop-ad > a {
    color: white;
}

.new-shop-ad > a:hover {
    color: grey;
}

.rotation img {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    }
    
    .rotation img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    }

.smile-fox, .pawpsicle, .skully {
    
}

.synx-logo {
    height: 50px;
    padding: 0 10px;
}
