a {
    color: red;
}

a:hover {
    color: black
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1000px;
    justify-content: center;
}

h3 {
    margin: 10px 0px;
}

html {
    display: flex;
    justify-content: center;
}

button {
    color: black;
    background-color: #ffffff;
    font-size: medium;
    border: 1px solid black;
    padding: 15px 50px;
    margin-right: 10px;
    cursor: pointer;
    flex-direction: row;
    width: 250px;
}

button:hover {
    color: red;
    background-color: #ffffff;
    border: 1px solid red
}

hr {
    border: 0;
    height: 1px;
    color: black;
    background-color: black;
}

strong {
    font-size: larger;
}

.collage-photos {
    max-width: 95vw;
    padding: 2px;
    border: 2px solid black;
    margin-bottom: 5px;
}

/* Icons */
.intro > a > img {
    max-height: 15px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links > a {
    margin: 2px 0px;
}

.logo-image-container {
    display: flex;
    justify-content: right;
}

.logo-image {
    max-width: 200px;
}

.sub-title {
    color: rgb(57, 57, 57);
}
