body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1000px;
    justify-content: center;
}

html {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    color: red;
}

button {
    color: black;
    background-color: #ffffff;
    font-size: medium;
    border: 1px solid black;
    padding: 15px 50px;
    margin-right: 10px;
    cursor: pointer;
    flex-direction: row;
    width: 250px;
}

button:hover {
    color: red;
    background-color: #ffffff;
}

hr {
    border: 0;
    height: 1px;
    color: black;
    background-color: black;
}

strong {
    font-size: larger;
}

.collage-photos {
    max-width: 100%;
    padding: 2px;
    border: 2px solid black;
    transition: transform .2s;
}

.collage-photos:active {
    transform: scale(1.5);
}

.links > a {
    font-size: larger;
}

.logo-image-container {
    display: flex;
    justify-content: right;
}

.logo-image {
    max-width: 200px;
}